:root{
    --text-primary: #0B1215;
    --text-secondary: #6b7280;
    --base-font-size: 18px;
    --border-color: #D3D3D3;
}

body{
    max-width: 100wv;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background-color: #fff;
    font-size: var(--base-font-size);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FAF9F6;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

.nav-bar a{
    text-decoration: none;
}



.logo{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 8px;
}

a{
    color: var(--text-secondary);
}

a.active{
    color: var(--text-primary);
}


.nav-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.nav-links{
    display: flex;
    gap: 4rem;
}

.nav-buttons{
    display: flex;
    gap: 0.5rem;
}

#search-btn{
    height: 30px;
    width: 30px;
    object-fit: cover;
}

#cart-btn{
    height: 30px;
    width: 30px;
    object-fit: cover;
}

#login-btn{
    color: var(--text-primary);
}

.nav-buttons a{
    align-self: center;
    border-left: 2px solid #1b1b1b;
    padding-left: 10px;
}

.main-content{
    justify-content: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding-left: 4rem;
    margin-top: 1rem;
}

.left-section{
    margin-left: auto;
}
.right-section{
    max-width: fit-content;
}

#paypal{
    width: 20px;
    height: 20px;
    object-fit: cover;
}

#master-card{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-left: 8rem;
}



.payment{
    display: flex;
    align-self: center;
    border-bottom: 2px solid var(--border-color);
    gap: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.circle {
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-primary);
  border-radius: 50%;
  align-self: center;
  margin-left: 0.5rem;
}

.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-group{
    margin-bottom: 2rem;
}

.form-group label{
    display: block;
    margin-bottom: 1rem;
}

input,
select,
textarea{
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    border: 1px solid var(--border-color);
    font-size: 0.97rem;
    background-color: #fff;
    color: var(--text-primary);
    transition: all 0.2s ease;
}

.row-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-bottom: 2rem;
    width: 100%;
}
.row-group label{
    display: block;
    margin-bottom: 1rem;
}

.row-group input{
    display: flex;
    gap: 2rem;
}

.cvv-group{
    margin-left: 1rem;
}

.continue-btn{
    width: 100%;
    background-color: var(--text-primary);
    color: white;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    transition: opacity 0.2s ease;
    align-self: center;
    font-size: var(--base-font-size);
    font-weight: 200;
}

.continue-btn:hover{
    opacity: 0.9;
    
}

.product-img{
    align-self: center;
}


.product-img img{
    align-self:center;
    width: 170px;
    height: 120px;
    object-fit: cover;
    border-radius: 1rem;
    margin-right: 1rem;
}

.product-group{
    display: flex;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}


p{
    font-size: 1rem;
    color: var(--text-secondary);
    font-weight: 400;
    line-height: 0.7rem;
}

.price{
    display: flex;
    justify-content: flex-end;
    padding-left: 2rem ;
    align-self: center;
    margin-left: auto;
}

.subtotal-product,
.price-delivery{
    display: flex;
    justify-content: space-between;
}

.detail-summary{
    line-height: 0.2rem;
}

h2{
    font-weight: 600;
}

h3{
    font-weight: 500;
}



