:root{
    --text-primary: #1b1b1b;
    --text-secondary: #6b7280;
    --base-font-size: 16px;
}

body{
    font-family: "Tiktok Sans";
    min-height: 100vh;
    background-color: #fff;
    font-size: var(--base-font-size);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

.logo{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

